// This file is used to rewrite the default styles of the form elements. for antd.

div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-body > form {
  .ant-select-selector {
    border-radius: 6px;
    font-weight: 600;
    color: #8c8c8c;
    height: 40px;
    border: 1px solid #d9d9d9;
    .ant-select-selection-item {
      line-height: 40px;
      font-weight: bold;
    }
  }
}


div.ant-modal-wrap {
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 6px;
    font-weight: 600;
    color: #8c8c8c;
    height: 40px;
    border: 1px solid #d9d9d9;
    .ant-select-selection-item {
      line-height: 40px;
      font-weight: bold;
    }
    .ant-select-selection-placeholder {
      padding-top: 4px;
    }
  }
}

.ant-btn-primary {
  background-color: #00b388;
    border-color: #00b388;
    color: #fff;
    border-radius: 6px;
    &:hover {
      background-color: lighten(#00b388, 5%);
      border-color: lighten(#00b388, 5%);
    }
}

.ant-input-password {
  input {
    position: relative;
    bottom: 9px;
    height: 38px;
  }
}